body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

header {
    font-size: 36pt;
    display: flex;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 215px;
}

.product {
    display: flex;
    flex-direction: row;
    align-items: center;
}