<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index_page') }}">
            <img src="{{ url_for('static', filename='logo.avif') }}" alt="Логотип">
        </a>
        <span>Добро пожаловать!</span>
    </header>
    <div class="body">
        <div class="sidebar">
            {% for b in brands %}
            <p><a href="{{ url_for('index_page', brand=b.id) }}">{{ b.name }}</a></p>
            {% endfor %}
        </div>
        <main class="main">
            {% for p in products %}
            <a class="product" href="{{ url_for('product_page', product_id=p.id) }}">
                <img src="{{ url_for('static', filename=p.photo_small) }}" alt="Фото телефона">
                &nbsp;<span>{{ p.brand }}</span>&nbsp;<span>{{ p.model }}</span>
            </a>
            {% else %}
            <p>В данной категории пока нет товаров</p>
            {% endfor %}
        </main>
    </div>
</body>
</html>