<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index_page') }}">
            <img src="{{ url_for('static', filename='logo.avif') }}" alt="Логотип">
        </a>
        <span>Добро пожаловать!</span>
    </header>
    <div class="body">
        <div class="sidebar">
            <img src="{{ url_for('static', filename=product.photo_large) }}" alt="Фото продукта" width="200">
        </div>
        <main class="main">
            <div>Бренд: {{ product.brand }}</div>
            <div>Модель: {{ product.model }}</div>
            <div>Описание: {{ product.description }}</div>
            <a href="{{ url_for('index_page') }}">Назад</a>
        </main>
    </div>
</body>
</html>